<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="ssm.mi.member.vo.TMemberVO" alias="tMember"/>
		<typeAlias alias="reserveVO"
			type="ssm.mi.member.vo.ReservationVO"></typeAlias>
		<typeAlias alias="rsvVO"
			type="ssm.mi.member.vo.VisitCounsel_RsvVO"></typeAlias>

	</typeAliases>
</configuration>